*{
    margin: 0;
    padding: 0;
}

header {
    padding: 10px 10px 10px 10px;
    background-color: lightgrey;
}

div.title {
    text-align:  center;
    display: inline-block;
}

div.tabs {
    float: right;
    display: inline-block;
    padding: 20px 50px 20px 30px;
}

a.link {
    padding: 20px 50px 20px 30px;
}

h1 {
    display: inline-block;
}

div.section {
    text-align: center;
    align: center;
    padding: 30px 30px 30px 30px;
}

div.vid {
    display: inline-block;
    padding: 20px 20px 20px 20px;
}

input {
    padding-top: 10px;
}

p {
    padding-bottom: 10px;
    text-align: center;
}


#inputs {
    border-top: 1px black;
}

#hidden {
    border-top: 1px black;
    background-color: lightgrey;
}

#revealed {
    border-top: 1px black;
}

#combined {
    border-top: 1px black;
    background-color: lightgrey;
}
