<!DOCTYPE html>
<html>
<head>
    <title>Neural Steganography</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='viv_style2.css') }}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
    /* show file value after file select */
    $('.custom-file-input').on('change',function(){
      $(this).next('.form-control-file').addClass("selected").html($(this).val());
    })

    </script>

</head>
<body>

<!-- <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('get_viv') }}">Video-in-Video</a></li>
        <li><a href="{{ url_for('get_pip') }}">Picture-in-Picture</a></li>
        <li class="active"><a href="{{ url_for('get_tip') }}"> Text-in-Picture </a></li>
      </ul>
    </div>
  </div>
</nav> -->

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Neural Cryptography</h1>
    <p class="lead">This is a web application to perform
                    <a href='https://en.wikipedia.org/wiki/Steganography'>
                    Steganography </a>, the practice of hiding data in data,
                    by hiding text in images, images in images, and video in
                    video. The steganographic algorithms used were learned
                    by large,
                    <a href='https://en.wikipedia.org/wiki/Convolutional_neural_network'>
                    Convolutional Neural Networks </a>.
                    This work was done as a part of a final project for an MIT
                    class, <a href='https://courses.csail.mit.edu/6.857/2018/'>
                    6.857: Computer and Network Security.</a></p>
  </div>
</div>

<div class="container">

    <div class="row ">
        <div class="col-md-5 col-xs-12">
            <h4>Choose a cover to hide the secret in:</h4><br>
            <form action="/select_image_tip"  enctype="multipart/form-data" method="post">
                <input name="cover" class="form-control-file" type="file" onchange="form.submit()"/>

                <label class="custom-file" id="customFile">
                    <input type="file" class="custom-file-input" id="exampleInputFile" aria-describedby="fileHelp">
                    <span class="custom-file-control form-control-file"></span>
                </label>

            </form>
            <div class='text-center center-block'>
              <img width="128" height="128"  onerror="this.style.display='none'"
                   src="{{ url_for('static', filename=cover) }}"/><br>
            </div>
        </div>

        <div class="col-md-5 col-xs-12">
          <h4> Enter a secret to send: </h4> <br><br>
          <form class="form-inline" action="/select_text" method="post">
              <input name="secret" class="form-control" type="text" />
              <input type="submit" class="btn btn-default " />
          </form>
          <br>
          <p > Processed text: {{ secret }} </p>
        </div>

        <div class="col-md-2">
            <form action="/compute_text" method=post>
                <input type="submit" class="btn btn-primary btn-block" name="compute" value="Hide Text"/>
            </form>
        </div>

    </div>

    <br><br><br><br><br><br><br><br>
  <div class="row">
    <div class="col-md-5 col-xs-12" id=hidden>
      <h4>Here is the hidden secret to send:</h4><br>
      <img width="128" height="128" onerror="this.style.display='none'"
           src="{{ url_for('static', filename=hidden) }}"/><br>
    </div>
    <div class="col-md-5 col-xs-12" id=revealed>
      <h4>Here is the revealed secret:</h4><br>
      <p> {{ revealed }} </p>
    </div>
  </div>

</div>

</body>
</html>
